.decorCSS2 {
  display: flex;
  position: static;
  float: inline-start;
  height: 6rem;
  width: 7dvw; /*using this so that these images stay responsive - also if I had more time I would have made a frame that I would have conditionally rendered instead but well .. this has to do. Also there certainly has to be a smarter way to do this than to make 2 different CSS files, but here we are */
}

@media only screen and (max-width: 600px) {
  .decorCSS2 {
    display: flex;
    position: static;
    float: inline-end;
    height: 6rem;
    width: 7dvw;
  }
}
