.thumbnailImageCSS {
  border-radius: 100%;
  height: 5rem;
  width: 4rem;
}

.thumbnailImageCSS:hover {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .thumbnailImageCSS {
    border-radius: 100%;
    height: 10dvh;
    width: 5rem;
  }
}

@media only screen and (max-width: 1279) {
  .thumbnailImageCSS {
    border-radius: 100%;
    height: 10rem;
    width: 9rem;
  }
}
